__pycache__/
*.py[cod]

# Entorno y secretos
.env
.env.*

# Entornos virtuales
venv/
.venv/

# Bases de datos locales
*.db

# Reportes de coverage
htmlcov/
.coverage

# Caché de pytest
.pytest_cache/

# Agentes
.agents/


